<p id="notice"><%= notice %></p>

<div class="showbox">
<p>
  <strong>Title:</strong>
  <%= @diary.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @diary.body %>
</p>
<p>
  <strong>Created Time:</strong>
  <%= @diary.created_at.strftime('%Y年%-m月%-d日 %H時%M分') %>
</p>
<p>
  <strong>Update Time:</strong>
  <%= @diary.updated_at.strftime('%Y年%-m月%-d日 %H時%M分') %>
</p>
</div>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Delete', @diary,method: :delete, data: { confirm: '本当に削除しますか？'}  %> |
<%= link_to 'Back', diaries_path %>
